body{
    margin:0;
    padding:10px;
    background-color:#f0f0f0;
    font-family: sans-serif;
}

div{
    padding:20px;
}
nav{
    padding-bottom:20px;
}
#c{
    padding-left:20px;
    padding-top:0px;
    padding-bottom:0px;
    float:left;
}
h2{
    padding:20px;
}
#p{
    padding-left:0px;
    padding-top:0px;
    font-size:25px;
    float:right;
}
a{
    padding:20px;
    background-color:#0f0f0f;
    text-decoration: none;
    color:#f0f0f0;
    transition:0.2s;
    font-size:20px;
}
a:hover{
    animation-name:hover;
    background-color: #f0f0f0;
    color:#0f0f0f; 
}
#c canvas{
    border:solid 2px;
    padding:5px;
}